<ion-view view-title="TODOS LOS PRODUCTOS">
  <ion-content>
    
    
    <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Buscar" >
    </label>
   </div>
    
    
    <ul class="list">
      <div class="item item-divider">
        Desayuno
      </div>
      <li class="item">
        Magdalenas
      </li>
      <li class="item">
        Leche
      </li>
      <li class="item">
        Cereales
      </li>
      
      <div class="item item-divider">
        Limpieza
      </div>
      
      <li class="item">
        Pronto jabonoso
      </li>
      <li class="item">
        Fregasuelos
      </li>
      <li class="item">
        Volvone
      </li>
      
    </ul>
    
    
    <div class="padding">
      <button class="button button-full button-positive">
      Nuevo producto
      </button>  
    </div>
    
  </ion-content>
</ion-view>
